.container {
    margin: 30px;
    width: 400px;
    height: 400px;
    background-color: rgb(10, 10, 209);
}
.item {
    height: 50px;
    width: 50px;
    margin: 20px;
    background-color: rgb(221, 214, 220);
    border: solid red 1px;
    display: inline-block;

    animation: bounce 1s;
    animation-iteration-count: infinite;
}
.one {
    animation-timing-function: ease-in;
}
.two {
    animation-timing-function: ease-out;
}
.three {
    animation-timing-function: linear;
}
@keyframes bounce {
    0% {

    }
    50% {
        transform: translateY(300px);
    }
    100% {

    }
}